.flowplayer
  .fp-engine.fp-audio-engine
    background-color #333
    background-size contain
    background-position center
    background-repeat no-repeat

    .fp-info
      position absolute
      bottom 0
      left 0
      right 0
      text-align center

      .fp-track
      .fp-album
      .fp-artist
        background-color rgba(#000, 0.4)
        color #fff
        padding 5px
        font-size 14px
      .fp-track
        font-size 18px
        font-weight bold
